In [1004]:
print(19)

19

In [1005]:
print(20)

20

In [1006]:
print(15)

15

In [1007]:
print(2.3)

2.3

In [1008]:
# this is printing text
print("Python is fun")

Python is fun

In [1009]:
print(150)

150

In [1010]:
# print(160)

In [1011]:
# this is commant. this will not be executed

# this is heading

### this is heading 2
* class 1
* class 2

# Data Types: 
* int
* string
* complex
* Boolean
* Float
* None

# interger

# variable : this is a container or placeholder which storea data/information

# Rules : 
* Any variable can be combination of lowercase, upercase, digits, and underscore
* we can not create variable with digits
* We never used inbuilt keywords, print , reserverd keyword

In [1012]:
t = 20

In [1013]:
j = "data is good"

In [1014]:
p = 2.6

In [1015]:
e = True

In [1016]:
g = 14

In [1017]:
G = 16

In [1018]:
T_k123 = 190

In [1019]:
_h = 12

In [1020]:
abc1 = 190

In [1021]:
1abc = 160

SyntaxError: invalid decimal literal (686839571.py, line 1)

In [1022]:
print = 150 # INVAILD VARIABLE

In [1023]:
len = 1020 # INVAILD VARIABLE

In [1024]:
range = 160 # INVAILD VARIABLE

In [1025]:
d = 160

In [1026]:
print(d)

TypeError: 'int' object is not callable

In [1027]:
# int

In [1028]:
j = 10

In [1029]:
y = 23

In [1030]:
type(j)

int

In [1031]:
type(y)

int

In [1032]:
id(j)

140725377776344

In [1033]:
id(y)

140725377776760

In [1034]:
# float

In [1035]:
d = 15.7

In [1036]:
type(d)

float

In [1037]:
a = 2.44

In [1038]:
type(a)

float

In [1039]:
z = 5.1

In [1040]:
type(z)

float

In [1041]:
id(z)

2556557171568

In [1042]:
print(z)

TypeError: 'int' object is not callable

In [1043]:
# string : inside the quotes,it could be '',"" "", """ """

In [1044]:
k = "python is fun"

In [1045]:
type(k)

str

In [1046]:
id(k)

2556553075120

In [1047]:
s = "data science"

In [1048]:
type(s)

str

In [1049]:
a ="""sql"""

In [1050]:
type(a)

str

In [1051]:
c = "2.3"

In [1052]:
type(c)

str

In [1053]:
g = "12"

In [1054]:
type(g)

str

In [1055]:
# Boolean : Ture, False

In [1056]:
k = True

In [1057]:
type(k)

bool

In [1058]:
p = False

In [1059]:
type(p)

bool

In [1060]:
# complex data :  a+bj

In [1061]:
a = 5+6j

In [1062]:
type(a)

complex

In [1063]:
a.real

5.0

In [1064]:
a.imag

6.0

In [1065]:
b = None

In [1066]:
type(b)

NoneType

In [1067]:
# python :  dynamic language in nature

In [1068]:
s = 180

In [1069]:
type(s)

int

# Input : by default it provides us string data type

In [1070]:
number = input()

In [1071]:
number

''

In [1072]:
number = input("enter number of your choice")

In [1073]:
number

''

In [1074]:
name = input("Enter your name:")

In [1075]:
type(name)

str

In [1076]:
sub = input("enter your subjectL:")

In [1077]:
sub

''

In [1078]:
marks = input("enter your marks:")

In [1079]:
marks

''

In [1080]:
type(marks)

str

In [1081]:
age = input("enter you age:")

In [1082]:
age

''

In [1083]:
type(age)

str

In [1084]:
# typecasting : means converting one datatype into another datatype

In [1085]:
age = int(age)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
type(age)

In [ ]:
age = float(age)

In [ ]:
age = str(age)

In [ ]:
age = complex(age)

In [ ]:
type(age)

In [ ]:
age = int(input("Enter your age:"))

In [ ]:
type(age)

In [ ]:
city = input("Enter your city:")

In [ ]:
city

chandigarh

In [ ]:
int(city)

Traceback (most recent call last):
  File "c:\Users\Satve\.vscode\extensions\ms-python.python-2024.22.2-win32-x64\python_files\python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
ValueError: invalid literal for int() with base 10: 'chandigarh'

In [ ]:
float(city)

Traceback (most recent call last):
  File "c:\Users\Satve\.vscode\extensions\ms-python.python-2024.22.2-win32-x64\python_files\python_server.py", line 133, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
ValueError: could not convert string to float: 'chandigarh'

# python statment:
1.single line statment
2. multiple line statement

In [ ]:
y = 45

In [ ]:
s = "python is fun"

In [ ]:
# Multiline Statements
k = 1+2+3+\
    4+5+6+\
    7+8+9+\
    1

In [ ]:
k

46

In [ ]:
d = (1+2+3+
     4+5+6+
     7+8+9+
     1+1)

In [ ]:
d

47

In [ ]:
# output formatting

In [ ]:
a = 10
b = 20

In [1087]:
print("the value of a is {} and b is {}".format(a,b))

TypeError: 'int' object is not callable

In [1088]:
a = 10
b = 20
c = 30

In [1089]:
print("the value of a is {} and b is {} and c is {}".format(a,b,c))

TypeError: 'int' object is not callable

In [1090]:
print("the value of a is {2} and b is {0} and c is {1}".format(a,b,c))

TypeError: 'int' object is not callable

In [1091]:
name = input("eneter your name :")

In [1092]:
name

'satveer'

In [1093]:
greet = input("Enter your greeting:")

In [1094]:
print("Hi {} and {}".format(name, greet))

TypeError: 'int' object is not callable

In [1095]:
# f-string

In [1096]:
a = 10
b = 20
c = 30

In [1097]:
print(f"the value of a is {a} and b is {b} and c is {c}")

TypeError: 'int' object is not callable

In [1101]:
name = input("eneter your name :")

In [1102]:
print(f"Hi my name is {name} and i live in {city}")

NameError: name 'city' is not defined

In [1103]:
print("the value of a is {2} and b is {0} and c is {1}".format(a,b,c))

TypeError: 'int' object is not callable

# Operators and Expressions

In [1104]:
# Arithmentic Operators
# Comparison Operators
# Logical Operators
# Bitwise Operators
# Assignment Operators
# Special Operators

In [1105]:
# Arithmentic Operators : +,  -,  *,  /,  //,  **,  %

In [1106]:
5+6

11

In [1107]:
10 - 2

8

In [1108]:
2*5

10

In [1109]:
12 / 3 # normal Divison # it provide us answere in float

4.0

In [1110]:
15 / 5

3.0

In [1111]:
12 / 9

1.3333333333333333

In [1112]:
14 / 2

7.0

In [1113]:
12 // 3 # floor divison # # it provide us answere in lower interger

4

In [1114]:
12 // 9

1

In [1115]:
16 // 3

5

In [1116]:
2**3

8

In [1117]:
3**3

27

In [1118]:
5**3

125

In [1119]:
# modulus or moduli :  % # # it provide us answere as remainder

In [1120]:
12 % 9

3

In [1121]:
14 % 3

2

In [1122]:
no1 = 10
no2 = 20

In [1123]:
add = no1 + no2
sub = no1 - no2
mul = no1 * no2
div = no1 / no2
f_div = no1 // no2
exp = no1 ** no2
mod = no1 % no2

In [1124]:
print(f"a+b = {add}")
print(f"a-b = {sub}")
print(f"a*b = {mul}")
print(f"a/b = {div}")
print(f"a//b = {f_div}")
print(f"a**b = {exp}")
print(f"a%b = {mod}")

TypeError: 'int' object is not callable

In [1125]:
# # Comparison Operators : >, <, >=, <=, ==, !=  # it provide us answere in boolean

In [1126]:
print(no1, no2)

TypeError: 'int' object is not callable

In [1127]:
5>3

True

In [1128]:
10 < 15

True

In [27]:
15 < 10

False

In [28]:
print(no1>no2)
print(no1<no2)
print(no1>=no2)
print(no1<=no2)
print(no1 == no2)
print(no1 != no2)

False
True
False
True
False
True

In [29]:
# # Assignment Operators : +=, -=, *=, /=, //=, **= , %=

In [30]:
d = 15

In [31]:
d = d + 5

In [32]:
d

20

In [33]:
d = d * 2

In [34]:
d

40

In [35]:
d = d // 2

In [36]:
d

20

In [37]:
a = 10

In [38]:
a

10

In [39]:
a+=5

In [40]:
a

15

In [41]:
a-=9

In [42]:
a

6

In [43]:
a*=2

In [44]:
a

12

In [45]:
a/=3

In [46]:
a

4.0

In [47]:
a**=3

In [48]:
a

64.0

In [49]:
a%=10

In [50]:
a

4.0

In [51]:
a*=2

In [52]:
a

8.0

# Logical Operators : 
* Logical - AND  - it will provide us True when all the conditions are true otherwise fasle
* Logical - OR - it will provide us True when any one condition is true otherwise fasle
* Logical  - NOT - negation - opposite -

In [53]:
condi1 = 4<5

In [54]:
condi1

True

In [55]:
condi2 = 41<5

In [56]:
condi2

False

In [57]:
condi1 and condi2

False

In [58]:
condi1 or condi2

True

In [59]:
10 >= 10

True

In [60]:
12 <= 15

True

In [61]:
(10 >= 10) and (12 <= 15)

True

In [62]:
(10 != 10) and (12 <= 15)

False

In [63]:
(10 >= 10) and (12 > 15)

False

In [64]:
(10 != 10) and (12 > 15)

False

In [65]:
(10 >= 10) or (12 <= 15)

True

In [66]:
(10 != 10) or (12 <= 15)

True

In [67]:
(10 >= 10) or (12 > 15)

True

In [68]:
(10 != 10) or (12 > 15)

False

In [69]:
((10 >= 10) or (12 > 15)) and (45>100)

False

In [70]:
((10 >= 10) or (12 > 15)) or (45>100)

True

In [71]:
not(((10 >= 10) or (12 > 15)) or (45>100))

False

In [72]:
not(((10 >= 10) or (12 > 15)) and (45>100))

True

In [73]:
not True

False

In [74]:
not False

True

In [75]:
((((140>14) or (140!= 150)) or (78 < 10)) and (16 > 150)) or (63 != 85)

True

# Bitwise Operators : 
* Bitwise AND : it follows logical AND - &
* Bitwise or : it follows logical OR - | 
* Bitwise XOR : :  it provide us True when any one condition is True but It will provide
* False when either both conditions are false or both conditions are true - ^

In [76]:
5

5

In [77]:
bin(5)

'0b101'

In [78]:
bin(10)

'0b1010'

In [79]:
bin(25)

'0b11001'

In [80]:
bin(4)

'0b100'

In [81]:
10

10

In [82]:
10 & 4

0

In [83]:
10 | 4

14

In [84]:
10 ^ 4

14

In [85]:
20

20

In [86]:
20 | 5

21

In [87]:
bin(20)

'0b10100'

In [88]:
bin(5)

'0b101'

In [89]:
10 ^ 4

14

# Special Operators : 

* Memership Operator : in, not in, it will check membership

* Identity Operator : it will check identity , is, is not

In [2]:
str = "Good Morning"

In [3]:
"G" in str

True

In [4]:
"z" in str

False

In [5]:
"G" not in str

False

In [7]:
"z" not in str

True

In [8]:
"bad" in str

False

In [11]:
"Good" in str

True

In [12]:
a = [4,5,6,7,8,9]

In [13]:
a

[4, 5, 6, 7, 8, 9]

In [14]:
4 in a

True

In [15]:
100 not in a

True

In [16]:
# Identity Operator : it will check identity , is, is not

In [17]:
x = 100

In [18]:
y = 100

In [19]:
x is y

True

In [20]:
id(x)

140725377779224

In [21]:
id(y)

140725377779224

In [22]:
z = 200

In [23]:
y is z

False

In [24]:
x is not z

True

In [25]:
x == y  # equality

True

# Control Flow  : 

* Condititional Statemnets
* Loops

In [26]:
s = 10

In [27]:
a = 15

In [28]:
# Conditional statment:

In [29]:
# if
# else if = elif
# else

#syntax: (condition):
        #logic
        #logic
        #print
#elif (condition):
        #logic
        #logic
#else:
        #logic
        #logic

In [30]:
age = float(input("Enter your age:"))

In [31]:
age

21.0

In [32]:
if (age>=18):
    print("You can vote")
    print("Voting is your right")
else:
    print("You are kid")
    print("Groq up first")

You can vote
Voting is your right

In [33]:
number = int(input("enter any number:"))

In [34]:
if number>0:
    print("Positive number")
elif(number==0):
    print("its zero")
else:
    print("negative number")

its zero

In [35]:
marks = int(input("enter your marks:"))

In [36]:
# if ladder

if marks == 90:
    print("grade-A")
if marks == 80:
    print("grade-B")
if marks == 70:
    print("grade-C")
if marks == 60:
    print("Grade-D")
if marks == 50:
    print("Grade-E")
else:
    print("Another Grade")

Another Grade

In [38]:
marks = int(input("enter your marks:"))

In [39]:
if marks>=90:
    print("garde-A")
elif (marks>=80):
    print("Grade-B")
elif marks>=70:
    print("Grade-C")
elif marks>=60:
    print("Grade-D")
else:
    print("Grade-F")

Grade-F

In [40]:
samount = float(input("Enetr Your Shooping Amount:"))

In [41]:
samount

10000.0

In [42]:
# elif ladder
if samount>=15000:
    print("You are eligible for a 10%  discount")
elif (samount>=10000 and samount<15000):
    print("You are eligible for a 5% discount")
elif (samount>=5000 and samount<10000):
    print("You are eligible for a voucher")
elif (samount>=1000 and samount<5000):
    print("You are eligible for a movie tickets")
elif (samount>=100 and samount<1000):
    print("You are a VIP customer")
else:
    print("No rewards")

You are eligible for a 5% discount

In [43]:
# nesting : whenever we arite if, elif, else inside another if, elif, else that is known as nesting

In [45]:
number = int(input("enter any number:"))

In [46]:
if number>=0:
    if number == 0:
        print("its zero")
    else:
        print("Postive number")
else:
    print("Its negative")

Postive number

In [47]:
number = int(input("enter any number:"))

In [48]:
if number>=0:
    if number >10:
        if number>20:
            if number>30:
                if number>40:
                    if number>100:
                        print("its greater than 100")
                    else:
                        print("its smaller than 100")
                else:
                    print("Its smaller than 40")
            else:
                print("its smallerthan 30")
        else:
            print("its smaller than 20")
    else:
        print("its smaller than 10")
                    
else:
    print("Its negative")

its smaller than 100

In [51]:
number = int(input("enter any number:"))

In [52]:
if number>=0:
    if number == 10:
        print("its ten")
    if number == 20:
        print("its twenty")
    if number == 30:
        print("its thirty")
    if number == 40:
        print("its forty")
else:
    print("its negative")

its twenty

In [54]:
number = int(input("enter any number:"))

In [55]:
if number>=0:
    if number >10:
        if number>20:
            if number>30:
                if number>40:
                    if number>100:
                        print("its greater than 100")
                    else:
                        print("its smaller than 100")
                else:
                    print("Its smaller than 40")
            else:
                print("its smallerthan 30")
        elif number==20:
            print("its twenty")
        else:
            print("its smaller than 20")
    else:
        print("its smaller than 10")
                    
else:
    print("Its negative")

Its smaller than 40

In [56]:
# Loops

In [57]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
tuple(range(2,100,10))

(2, 12, 22, 32, 42, 52, 62, 72, 82, 92)

In [60]:
list(range(10,150,15))

[10, 25, 40, 55, 70, 85, 100, 115, 130, 145]

# Loops : Iterative Programming

* While
* While True
* For

In [61]:
# invild Method : reapeation
print(2)
print(4)
print(6)
print(8)
print(10)
print(12)
print(14)
print(16)
print(18)
print(20)

2
4
6
8
10
12
14
16
18
20

In [62]:
# DRY : dont Reapeat Yourself

In [63]:
# while loop

# process :
# 1. initilization
# 2. Stopping condition
# 3. Updation

#syntax:

#1. initilization

# while (2.stopping condition):
    # logic
    # print()

# 3.updation

In [64]:
i = 0

while (i<=20):
    print(i)

    #i = i+1
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [65]:
i = 0

while (i<=20):
    print(i)
    #i = i+1
    i+=2

0
2
4
6
8
10
12
14
16
18
20

In [66]:
i = 0

while (i<=20):
    if i%2==0:
        print(i)

    #i = i+1
    i+=1
else:
    print("All done")

0
2
4
6
8
10
12
14
16
18
20
All done

In [67]:
i = 0

while (i<=20):
    print(i)

    #i = i+1
    i+=2

0
2
4
6
8
10
12
14
16
18
20

In [72]:
i = 1

while (i<=20):
    print(i)

    #i = i+1
    i+=2

1
3
5
7
9
11
13
15
17
19

In [73]:
i = 0

while (i<=20):
    if i%2==0:
        print(i)
    #i = i+1
    i+=1
else:
    print("All done")

0
2
4
6
8
10
12
14
16
18
20
All done

In [74]:
# Q. 2 - Reverse Counting
# Like:
#5
#4
#3
#2
#1

In [75]:
number = int(input("Enter any number:"))
while number>0:
    print(number)
    number-=1
else:
    print("All done")

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
All done

In [76]:
# Keep Asking for Input Until "stop" is Entered

In [77]:
command = ""

while (command != "stop"):
    command = input("Eneter stop to quit:")
    print("You have entered :", command)

else:
    print("Loop is finished..")

You have entered : stop
Loop is finished..

In [78]:
# Q. 3 - Ask for Password Until Correct

In [79]:
password = ""

while (password != "password@123"):
    password = input("Enter Correct password: ")
    print("You have entered : ", password)

else:
    print("Congratulations you have eneted a correct password")

You have entered :  python
You have entered :  password@123
Congratulations you have eneted a correct password

In [80]:
# While True - infinte loop : we do not provide any stopping condition here

In [81]:
num = 60
total = 0

while num<=60:
    total+=num
    num-=1
    if num == 0:
        break

print(f"The sum of first n natural nyumbers are {total}")

The sum of first n natural nyumbers are 1830

In [83]:
number = int(input("Enter any number: "))
total_sum = 0

In [84]:
number = int(input("Enter any number: "))
total_sum = 0

while True:
    total_sum+=number
    number-=1

    if number == 0:
        break

print(f"The sum of first n natural numbers are {total_sum}")

The sum of first n natural numbers are 1275

In [85]:
# Question 1: Counting Odd Numbers 
# Write a program that continuously takes input from the user until they enter a negative number. 
# The program should then print the count of all the odd numbers entered.

In [87]:
counter = 0 
while True:
    num = int(input("Enetr any number (Enter negative to quit):"))
    if num<0:
        break
    else:
        if num%2 != 0:
            counter+=1

In [88]:
counter

0

In [89]:
# Print "Hello, World!" Five Times by using While Loop

In [90]:
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [91]:
count = 1
while count<=5:
    print("Hello, World!")
    count+=1

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [92]:
# Question 2: Guessing Game
# Create a guessing game where the computer generates a random number between 1 and 100, 
# and the player has to guess it. The game should provide feedback on whether the guess is too high or too low,
# and it should continue until the player guesses the correct number.

In [93]:
import random

In [94]:
generated_num = random.randint(1,100)

In [95]:
generated_num

41

In [98]:
generated_num = random.randint(1,100)

while True:
    guessed_num = int(input("Enetr Your Guess : "))

    if guessed_num == generated_num:
        print("Congratulations You have guessed correct:")
        break
    elif (guessed_num>generated_num):
        print("Please Try to guess a lower number")
    else:
        print("Please Try to guess a higher number")

Please Try to guess a lower number
Please Try to guess a lower number
Please Try to guess a lower number
Please Try to guess a lower number
Please Try to guess a lower number

ValueError: invalid literal for int() with base 10: ''

In [99]:
list(range(2,21))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [100]:
for i in range(2,21):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [101]:
for i in [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]:
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [102]:
for i in range(2,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [103]:
for i in range(1,21):
    if i%2!=0:
        print(i)
    else:
        print("wrong element")

1
wrong element
3
wrong element
5
wrong element
7
wrong element
9
wrong element
11
wrong element
13
wrong element
15
wrong element
17
wrong element
19
wrong element

In [104]:
for i in range(2,21):
    if i%2==0:
        print(i)
else:
    print("All done")

2
4
6
8
10
12
14
16
18
20
All done

In [105]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [106]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [107]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [109]:
for i in range(1,11):
    print(f"3 x {i} = {3 * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [110]:
 #Print "Hello, World!" Five Times by using While Loop

In [114]:
count = 5
while count<5:
    print("Hello, World!")
    count+=1

In [115]:
# Q.3 - Print square of even numbers and cube of odd numbers from 1 ,20 by using for loop

In [116]:

for num in range(1, 21):  
    if num % 2 == 0:
        print(f"{num} is even, its square is {num**2}")
    else:
        print(f"{num} is odd, its cube is {num**3}")

1 is odd, its cube is 1
2 is even, its square is 4
3 is odd, its cube is 27
4 is even, its square is 16
5 is odd, its cube is 125
6 is even, its square is 36
7 is odd, its cube is 343
8 is even, its square is 64
9 is odd, its cube is 729
10 is even, its square is 100
11 is odd, its cube is 1331
12 is even, its square is 144
13 is odd, its cube is 2197
14 is even, its square is 196
15 is odd, its cube is 3375
16 is even, its square is 256
17 is odd, its cube is 4913
18 is even, its square is 324
19 is odd, its cube is 6859
20 is even, its square is 400

In [117]:
# break, continue, pass

In [118]:
for i in range(1,21):
    if i == 5:
        break
    print(i)
else:
    print("No element left")

1
2
3
4

In [119]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)
else:
    print("No element left")

1
2
3
4
6
7
8
9
10
No element left

In [120]:
for i in range(1,11):
    pass

In [121]:
if 4>5:
    pass

In [122]:
# nested Loop : whenever we writing for loop inside another for loop is known as Nested loop

# Partern printing:

# observations : 
* n = number of rows 
* number of stars = row number

In [123]:
n = 5

In [124]:
# respondsible for rows
for i in range(1,n+1):
    # responsible for * printing
    for j in range(1,i+1):
        print("*", end= "" )
    print()

*
**
***
****
*****

In [125]:
n = 5
for i in range(1,n+1):
    for p in range(1, i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [126]:
#1
#2 3
#4 5 6
#7 8 9 10
#11 12 13 14 15

In [127]:
n = 5
num = 1

for i in range(1, n+1):
    for j in range(1, i+1):
        print(num, end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [128]:
str10 = "Good Morning"

In [129]:
for i in "Good Morning":
    print(i)

G
o
o
d

M
o
r
n
i
n
g

# Python Inbuilt Data Structures:
* String
* List
* Tuple
* Set
* Dictionary

In [130]:
emp1 = 1000

In [131]:
emp2 = 2000

In [132]:
emp3 = 3000

In [133]:
p1 = 78965412
p2 = 123654789

# String : 
* string in python are the sequence of unicode characters.
* we can use single quotes, double quotes, even triple quotes.
* triple quotes : are generaly used in order to write multilibne string
* A string in python consists of a series of sequence of characters - letters, digits, and special characters
* string are indexable and slicable

In [134]:
my_str = "Welcome to The Course"

In [135]:
type(my_str)

str

In [136]:
d = 'hellp students '

In [137]:
type(d)

str

In [138]:
a = """Computer"""

In [139]:
type(a)

str

In [140]:
r = '''mouse@#$///123654789'''

In [141]:
type(r)

str

In [142]:
# string are indexable and slicable

In [143]:
#indexable : accessing one element at a time is known as indexing

In [144]:
my_str[0]

'W'

In [145]:
my_str[2]

'l'

In [146]:
my_str

'Welcome to The Course'

In [148]:
my_str[11]

'T'

In [149]:
y = "Delhi's air quality remained in the 'severe' category for a second day on Thursday, with low wind speed contributing to a thick fog layer across the national capital. However, Environment Minister Gopal Rai confirmed that the third phase of the Graded Response Action Plan (GRAP 3) will not be imposed for now."

In [150]:
type(y)

str

In [151]:
len(my_str)

21

In [152]:
len(y)

310

In [153]:
my_str[20]

'e'

In [154]:
my_str[len(my_str)-1]

'e'

In [155]:
y[len(y)-1]

'.'

In [156]:
# negative indexing : it starts from -1
# my_str[len(my_str)-1]

In [157]:
my_str[1]

'e'

In [158]:
my_str

'Welcome to The Course'

In [159]:
my_str[-1]

'e'

In [160]:
my_str[-6]

'C'

In [161]:
my_str[-4]

'u'

In [162]:
# slicable : accessing multiple elemets at a time is known as slicing

In [163]:
my_str[0:7]

'Welcome'

In [164]:
my_str[3:7]

'come'

In [165]:
my_str[9:11]

'o '

In [166]:
my_str[7:11]

' to '

In [167]:
my_str[8:14]

'to The'

In [168]:
my_str[3:19]

'come to The Cour'

In [169]:
my_str

'Welcome to The Course'

In [170]:
my_str[0:19:2]

'Wloet h or'

In [171]:
my_str

'Welcome to The Course'

In [172]:
my_str[2::3]

'lmtT ue'

In [173]:
my_str[:]

'Welcome to The Course'

In [174]:
my_str[15:]

'Course'

In [175]:
my_str[-1:-7:-1]

'esruoC'

In [176]:
my_str[0:7:2]

'Wloe'

In [177]:
my_str[-3:-14:-1]

'ruoC ehT ot'

In [178]:
my_str[-6:]

'Course'

In [179]:
my_str[-1::-1]

'esruoC ehT ot emocleW'

In [180]:
# to reverse any string : [::-1]

In [181]:
my_str[::-1]

'esruoC ehT ot emocleW'

In [182]:
my_str

'Welcome to The Course'

In [183]:
for i in my_str:
    print(i)

W
e
l
c
o
m
e

t
o

T
h
e

C
o
u
r
s
e

In [184]:
for i in 'Welcome to The Course':
    print(i)

W
e
l
c
o
m
e

t
o

T
h
e

C
o
u
r
s
e

In [185]:
# membership operator

In [188]:
my_str

'Welcome to The Course'

In [191]:
"Z" in my_str

False

In [189]:
"Z" not in my_str

True

In [190]:
"C" in my_str

True

In [193]:
"C" not in my_str

False

In [194]:
my_str

'Welcome to The Course'

# palindrome 
* level
* refer
* madam
* rotor
* dad

In [196]:
my_str

'Welcome to The Course'

In [197]:
mys_str2 = input("Enter any string :")

In [198]:
counter = 0
for i in mys_str2:
    if i in "aeiouAEIOU":
        #print(i)
        counter+=1

In [199]:
counter

0

In [202]:
word = input("Enter any word: ")

In [203]:
if (word != word[::-1]):
    print("The given word is not plindrome")
else:
    print("The given word is plaindrome")

The given word is not plindrome

In [204]:
word

'sir'

In [205]:
word = input("Enter any word: ")

In [206]:
start = 0
end = len(word)-1
is_plindrome = True


while (start<=end):
    if word[start] != word[end]:
        is_plindrome = False
        break

    start+=1
    end-=1

if is_plindrome:
    print("The given word {} is plindrome".format(word))
else:
    print(f"The given word {word} is not plaindrome")

The given word sir is not plaindrome

# More methods in strings

In [207]:
my_str.upper()

'WELCOME TO THE COURSE'

In [208]:
my_str.lower()

'welcome to the course'

In [209]:
my_str.title()

'Welcome To The Course'

In [210]:
my_str.capitalize()

'Welcome to the course'

In [211]:
my_str

'Welcome to The Course'

In [212]:
my_str.find('l')

2

In [213]:
my_str.find('o')

4

In [214]:
my_str.find('e', 2 )

6

In [215]:
my_str.count('e')

4

In [216]:
my_str.count('o')

3

In [217]:
my_str.find('c')

3

In [218]:
my_str.find('mobile')

-1

In [219]:
my_str.split()

['Welcome', 'to', 'The', 'Course']

In [220]:
my_str

'Welcome to The Course'

In [221]:
my_str.split('e')

['W', 'lcom', ' to Th', ' Cours', '']

In [222]:
my_str.replace('Course', "Programme")

'Welcome to The Programme'

In [223]:
my_str

'Welcome to The Course'

In [226]:
name = input("Enetr your name: ")

In [227]:
name

'pooja'

In [228]:
len(name)

5

In [229]:
name.lstrip()

'pooja'

In [230]:
name

'pooja'

In [231]:
name.rstrip()

'pooja'

In [232]:
name

'pooja'

In [233]:
name = name.strip()

In [234]:
name

'pooja'

In [235]:
# Few operations of strings

In [239]:
"hello"*5

'hellohellohellohellohello'

In [240]:
'python'*6

'pythonpythonpythonpythonpythonpython'

In [241]:
"*"*5

'*****'

In [242]:
n = 5

In [243]:
for i in range(n):
    print("*"*i)

*
**
***
****

# List : 
* list are collection of elements which is ordered/ sequence
* list are indexable and slicable
* List are mutable in nature : changeable in nature
* List can store homegenous - Similar type and hetrogenous - different type

In [244]:
t = list()

In [245]:
type(t)

list

In [246]:
r = []

In [247]:
type(r)

list

In [248]:
w = [5,6,7,8,9,10,11,15,18]

In [249]:
w

[5, 6, 7, 8, 9, 10, 11, 15, 18]

In [250]:
type(w)

list

In [251]:
v = [7,8,9, 5.6,7.9, True, False,5+6j, "python", [7,8,9], (10, 15, 16), {"A":1, "B":2}]

In [252]:
type(v)

list

In [253]:
w

[5, 6, 7, 8, 9, 10, 11, 15, 18]

In [254]:
w[0]

5

In [255]:
w[2]

7

In [256]:
w[5]

10

In [257]:
w[-1]

18

In [258]:
w[-3]

11

In [259]:
w[1:4]

[6, 7, 8]

In [260]:
w[2:7]

[7, 8, 9, 10, 11]

In [261]:
w[2:-2]

[7, 8, 9, 10, 11]

In [262]:
w[::-1]

[18, 15, 11, 10, 9, 8, 7, 6, 5]

In [263]:
w

[5, 6, 7, 8, 9, 10, 11, 15, 18]

In [264]:
w[2] = 70 # mutablabilty

In [265]:
w

[5, 6, 70, 8, 9, 10, 11, 15, 18]

In [266]:
w[-4] = 90

In [267]:
w

[5, 6, 70, 8, 9, 90, 11, 15, 18]

# Some methods of list :

In [268]:
w.append(1500)

In [269]:
w

[5, 6, 70, 8, 9, 90, 11, 15, 18, 1500]

In [272]:
w.append(190)

In [273]:
w

[5, 6, 70, 8, 9, 90, 11, 15, 18, 1500, 190, 190]

In [274]:
w.append(140)

In [275]:
w.append("sql")

In [276]:
w

[5, 6, 70, 8, 9, 90, 11, 15, 18, 1500, 190, 190, 140, 'sql']

In [277]:
w.append("computer")

In [278]:
w

[5, 6, 70, 8, 9, 90, 11, 15, 18, 1500, 190, 190, 140, 'sql', 'computer']

In [279]:
w.insert(6,80)

In [280]:
w

[5, 6, 70, 8, 9, 90, 80, 11, 15, 18, 1500, 190, 190, 140, 'sql', 'computer']

In [281]:
w.insert(0, 1000)

In [282]:
w.insert(3, 1470)

In [283]:
w

[1000,
 5,
 6,
 1470,
 70,
 8,
 9,
 90,
 80,
 11,
 15,
 18,
 1500,
 190,
 190,
 140,
 'sql',
 'computer']

In [284]:
w.pop()

'computer'

In [285]:
w.pop()

'sql'

In [286]:
w

[1000, 5, 6, 1470, 70, 8, 9, 90, 80, 11, 15, 18, 1500, 190, 190, 140]

In [287]:
w.pop()

140

In [288]:
w

[1000, 5, 6, 1470, 70, 8, 9, 90, 80, 11, 15, 18, 1500, 190, 190]

In [289]:
w.pop(1)

5

In [290]:
w.pop(2)

1470

In [291]:
w

[1000, 6, 70, 8, 9, 90, 80, 11, 15, 18, 1500, 190, 190]

In [292]:
w.pop(0)

1000

In [293]:
w

[6, 70, 8, 9, 90, 80, 11, 15, 18, 1500, 190, 190]

In [295]:
w.remove(1500)

In [296]:
w

[6, 70, 8, 9, 90, 80, 11, 15, 18, 190, 190]

In [297]:
w.remove(80)

In [298]:
w

[6, 70, 8, 9, 90, 11, 15, 18, 190, 190]

In [299]:
w[::-1]

[190, 190, 18, 15, 11, 90, 9, 8, 70, 6]

In [300]:
w

[6, 70, 8, 9, 90, 11, 15, 18, 190, 190]

In [301]:
w.reverse()

In [302]:
w

[190, 190, 18, 15, 11, 90, 9, 8, 70, 6]

In [303]:
w

[190, 190, 18, 15, 11, 90, 9, 8, 70, 6]

In [304]:
w.reverse()

In [305]:
w.sort(reverse=True)

In [306]:
# in operators

In [307]:
"d" in "good"

True

In [308]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6]

In [309]:
70 in w

True

In [310]:
1500 not in w

True

In [311]:
8 not in w

False

In [312]:
v

[7,
 8,
 9,
 5.6,
 7.9,
 True,
 False,
 (5+6j),
 'python',
 [7, 8, 9],
 (10, 15, 16),
 {'A': 1, 'B': 2}]

In [313]:
v.sort()

TypeError: '<' not supported between instances of 'complex' and 'int'

In [314]:
v.reverse()

In [315]:
v

[{'A': 1, 'B': 2},
 (10, 15, 16),
 [7, 8, 9],
 'python',
 (5+6j),
 9,
 8,
 7.9,
 7,
 5.6,
 True,
 False]

In [316]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6]

In [317]:
len(w)

10

In [318]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6]

In [319]:
for i in w:
    print(i)

190
190
90
70
18
15
11
9
8
6

In [320]:
my_str = "Welcome to the course"

In [321]:
my_str = my_str.split()

In [322]:
my_str

['Welcome', 'to', 'the', 'course']

In [323]:
my_str  = " ".join(my_str)

In [324]:
my_str

'Welcome to the course'

In [325]:
    # append vs extend

In [326]:
w.append(180)

In [327]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6, 180]

In [328]:
w.append([10,15,16])

In [329]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6, 180, [10, 15, 16]]

In [330]:
w[-1]

[10, 15, 16]

In [331]:
w.extend([17,19,20])

In [332]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6, 180, [10, 15, 16], 17, 19, 20]

In [333]:
w[-1]

20

In [334]:
w.extend(16)

TypeError: 'int' object is not iterable

In [335]:
w.extend([16])

In [336]:
w

[190, 190, 90, 70, 18, 15, 11, 9, 8, 6, 180, [10, 15, 16], 17, 19, 20, 16]

In [337]:
w.extend([20,30,40])

In [338]:
w

[190,
 190,
 90,
 70,
 18,
 15,
 11,
 9,
 8,
 6,
 180,
 [10, 15, 16],
 17,
 19,
 20,
 16,
 20,
 30,
 40]

In [339]:
# extend by using +

In [340]:
w + [190, 180, 170]

[190,
 190,
 90,
 70,
 18,
 15,
 11,
 9,
 8,
 6,
 180,
 [10, 15, 16],
 17,
 19,
 20,
 16,
 20,
 30,
 40,
 190,
 180,
 170]

In [341]:
w

[190,
 190,
 90,
 70,
 18,
 15,
 11,
 9,
 8,
 6,
 180,
 [10, 15, 16],
 17,
 19,
 20,
 16,
 20,
 30,
 40]

In [342]:
# plindrome check with for loop

In [344]:
word = input("Enter any word:")

In [345]:
is_palindrome = True

for i in range(len(word)//2):
    if word[i] != word[-(i+1)]:
        is_palindrome = False
        break

if is_palindrome:
    print(f"The given word {word} is palindrome")
else:
    print(f"tHE Given word {word} is not plaindrome")

The given word madam is palindrome

In [346]:
list(range(2))

[0, 1]

In [350]:
elements = int(input("Enter how many numbers you would like to insert"))

In [351]:
s = []
for i in range(elements):
    s.append(int(input("Eneter your numbers:")))
a = []
for j in s:
    if j%2==0:
        a.append(j**2)
    else:
        a.append(j)

In [352]:
a

[1]

In [353]:
def test():
    elements = int(input("Enter how many numbers you would like to insert"))
    s = []
    for i in range(elements):
        s.append(int(input("Eneter your numbers:")))
    a = []
    for j in s:
        if j%2==0:
            a.append(j**2)
        else:
            a.append(j)
    return a

In [357]:
test()

ValueError: invalid literal for int() with base 10: ''

In [358]:
#  creating a new list of squares of only even element up 20

In [359]:
new_lst  = []
for i in range(1,21):
    if i%2==0:
        #print(i**2)
        new_lst.append(i**2)
new_lst

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [360]:
# list Comprehension: creating a list in consise way , in a shorter way

In [361]:
t = list(range(1,21))

In [362]:
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [363]:
r = []
for i in range(1,21):
    r.append(i**2)

In [365]:
r

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [366]:
[i for i in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [367]:
r = []
for i in range(1,21):
    if i%2==0:
        r.append(i**2)

In [368]:
r

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [369]:
[i**2 for i in range(1,21) if i%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [370]:
r = []
for i in range(1,11):
    if i%2==0:
        r.append(i**2)
    else:
        r.append(i**3)

In [371]:
r

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [372]:
[i**2 if i%2==0 else i**3  for i in range(1,11)]

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [373]:
# Multi dimentional list

In [374]:
a = [4,5,6,7,8,9]

In [375]:
b = [[1,2,3], [4,5,6], [7,8,9], [10,11,12]]

In [376]:
b

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [377]:
b[1][1]

5

In [378]:
b[-2][-1]

9

In [379]:
a = [[1,2], [3,4]]

In [380]:
b = [[5,6], [7,8]]

In [381]:
a

[[1, 2], [3, 4]]

In [382]:
b

[[5, 6], [7, 8]]

In [383]:
c = [[None, None], [None, None]]

for i in range(2):
    for j in range(2):
        c[i][j] = a[i][j] + b[i][j]

In [384]:
c

[[6, 8], [10, 12]]

In [385]:
[[None]*10]*10

[[None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None]]

In [386]:
lst_nd = [[[[[[[[4,5,6,7,8,9,8]]]]]]]]

In [387]:
lst_nd[0][0][0][0][0][0][0][3]

7

# deep copy and shallow copy

In [388]:
# shallow copy

In [389]:
a = [4,5,6,7,8,9]

In [390]:
b = a

In [391]:
b.append(160)

In [392]:
b

[4, 5, 6, 7, 8, 9, 160]

In [393]:
a

[4, 5, 6, 7, 8, 9, 160]

In [394]:
# deep copy

In [395]:
c = a.copy()

In [396]:
c

[4, 5, 6, 7, 8, 9, 160]

In [397]:
c.append(190)

In [398]:
c

[4, 5, 6, 7, 8, 9, 160, 190]

In [399]:
a

[4, 5, 6, 7, 8, 9, 160]

In [401]:
# Q1. lst_nd = [[[[[[[[4,5,6,7,8,9,8]]]]]]]]

In [402]:
lst_nd = [[[[[[[[4,5,6,7,8,9,8]]]]]]]]

In [403]:
lst_nd[0][0][0][0][0][0][0][2]

6

In [404]:
new_lst = []
for a in lst_nd:
    for b in a:
        for c in b:
            for d in c:
                for e in d:
                    for f in e:
                        for g in f:
                            for h in g:
                                new_lst.append(h**2)

In [405]:
new_lst

[16, 25, 36, 49, 64, 81, 64]

In [406]:
# Qq.2 - Q-2 : Rotation of a List

In [407]:
lst = [1,2,3,4,5,6]
steps = 4

In [408]:
for _ in range(steps):
    k = lst[-1]

    for i in range(len(lst)-1, 0, -1):
        lst[i] = lst[i-1]

    lst[0] = k

In [409]:
lst

[3, 4, 5, 6, 1, 2]

# Tuples :

* similar to list - collection of elements(but for read only)
* ordered - sequence of elements
* indexable and slicable
* immutable in nature

In [410]:
g = ()

In [411]:
type(g)

tuple

In [412]:
j = tuple()

In [413]:
type(j)

tuple

In [414]:
t = (10,12,15,19,20)

In [415]:
type(t)

tuple

In [416]:
c = (10,12,2.5,3.9,True, False, [10,20,30], (4,5,9,5.8), {"a":1, "b":2})

In [417]:
type(c)

tuple

In [418]:
a = ("Mohit")

In [419]:
type(a)

str

In [420]:
e = (5)

In [421]:
p = [10]

In [422]:
type(p)

list

In [423]:
type(e)

int

In [424]:
tup = ("rohit",)

In [425]:
type(tup)

tuple

In [426]:
q = "Prateek",

In [427]:
type(q)

tuple

In [428]:
q = 45, 78, "python", 5.6

In [429]:
type(q)

tuple

In [430]:
t[1]

12

In [431]:
t[2]

15

In [432]:
t[-1]

20

In [433]:
t[1:4]

(12, 15, 19)

In [434]:
t[::-1]

(20, 19, 15, 12, 10)

In [435]:
t = list(t)

In [436]:
t[-3] = 150

In [437]:
t = tuple(t)

In [438]:
t

(10, 12, 150, 19, 20)

In [439]:
lst = ["c", "c++", "HTML", "css", "python"]

In [440]:
e = ("Mohit", "Prateek", 20,30, lst, 5.6,9.1, 10)

In [441]:
e[1] = "pooja"

TypeError: 'tuple' object does not support item assignment

In [442]:
e[4][-2] =  "Bootstarp"

In [443]:
e

('Mohit',
 'Prateek',
 20,
 30,
 ['c', 'c++', 'HTML', 'Bootstarp', 'python'],
 5.6,
 9.1,
 10)

In [444]:
# Tuples Operations

In [445]:
t

(10, 12, 150, 19, 20)

In [446]:
for i in t:
    print(i)

10
12
150
19
20

In [447]:
#Membership Operator

In [448]:
150 in t

True

In [449]:
20 not in t

False

In [450]:
# Concatinatig Tuples

In [451]:
p = (7,8,9)
q = (4,5,6)

In [452]:
r = p + q

In [453]:
p

(7, 8, 9)

In [454]:
q

(4, 5, 6)

In [455]:
r

(7, 8, 9, 4, 5, 6)

In [456]:
(5,)*10

(5, 5, 5, 5, 5, 5, 5, 5, 5, 5)

In [457]:
(10,)*5

(10, 10, 10, 10, 10)

In [458]:
# Tuple deletion

In [459]:
del t[1]

TypeError: 'tuple' object doesn't support item deletion

In [460]:
del t

In [461]:
t

NameError: name 't' is not defined

# Methods

In [462]:
t = (2,3,5,2,2,3,6,7,8,2,3,9,3)

In [463]:
t.count(2)

4

In [464]:
t.index(5)

2

In [465]:
t.index(3)

1

In [466]:
t.index(3, 2)

5

In [467]:
t.index(3, 6)

10

In [468]:
# Tuple unpacking

In [469]:
s = (4,5,6)

In [470]:
# Wrong method
a = s[0]
b = s[1]
c = s[2]

In [471]:
print(a,b,c)

4 5 6

In [472]:
s = (4,5,6)

In [473]:
p,q,r = s

In [474]:
p

4

In [475]:
q

5

In [477]:
r

6

# set
* collection of element
* Conatins only unique elements
* Mutable
* unordered 
* non-indexable

In [478]:
t = set()

In [479]:
t

set()

In [480]:
type(t)

set

In [481]:
h = {}

In [482]:
type(h)

dict

In [483]:
p = []

In [484]:
type(p)

list

In [485]:
m = ()

In [486]:
type(m)

tuple

In [487]:
a = ""

In [488]:
type(a)

str

In [489]:
w= {}

In [490]:
type(w)

dict

In [491]:
b = {8,9,10,1,2,7,5,4,6,3,0,8,9,4,4,8,2,1,2,7,5,4,6}

In [492]:
type(b)

set

In [493]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [494]:
b[2]

TypeError: 'set' object is not subscriptable

In [495]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [496]:
b.add(15)

In [497]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15}

In [498]:
b.add(15)
b.add(15)
b.add(15)
b.add(15)
b.add(15)
b.add(15)
b.add(15)

In [499]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15}

In [500]:
b.remove(8)

In [501]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 15}

In [502]:
b.remove(160)

KeyError: 160

In [503]:
b.remove(10)

In [504]:
b

{0, 1, 2, 3, 4, 5, 6, 7, 9, 15}

In [505]:
b.remove(190)

KeyError: 190

In [506]:
b.discard(6)

In [507]:
b

{0, 1, 2, 3, 4, 5, 7, 9, 15}

In [508]:
b.discard(200)

In [509]:
b

{0, 1, 2, 3, 4, 5, 7, 9, 15}

In [510]:
b.update([15,16,18,5,7])

In [511]:
b

{0, 1, 2, 3, 4, 5, 7, 9, 15, 16, 18}

# set operations

In [512]:
s1 = {1,3,4,5,8}
s2 = {4,5,6,7,1,9}

In [513]:
s1

{1, 3, 4, 5, 8}

In [514]:
s2

{1, 4, 5, 6, 7, 9}

In [515]:
s1.intersection(s2)

{1, 4, 5}

In [516]:
s1 & s2

{1, 4, 5}

In [517]:
s1.union(s2)

{1, 3, 4, 5, 6, 7, 8, 9}

In [518]:
s1 | s2

{1, 3, 4, 5, 6, 7, 8, 9}

In [519]:
s1 - s2

{3, 8}

In [520]:
s2 -s1

{6, 7, 9}

In [521]:
s1.symmetric_difference(s2)

{3, 6, 7, 8, 9}

In [522]:
(s1 | s2) - (s1&s2)

{3, 6, 7, 8, 9}

# Dictionary : 
* It is a collection of elements - it stores data in key value pair
* it is orderded
* indexing is possible with the help of keys
* changeable

In [523]:
p = {}

In [524]:
type(p)

dict

In [525]:
a = dict()

In [526]:
a

{}

In [527]:
type(a)

dict

In [528]:
t = [(89, 'python'), (75, 'html'), (90, 'sql')]

In [529]:
t = dict(t)

In [530]:
t

{89: 'python', 75: 'html', 90: 'sql'}

In [531]:
h = dict([(89, 'python'), (75, 'html'), (90, 'sql')])

In [532]:
h

{89: 'python', 75: 'html', 90: 'sql'}

In [533]:
user_info = {
    'name' : "Pooja",
    'age' : 24,
    "nationality" : "Indian"
}

In [534]:
user_info

{'name': 'Pooja', 'age': 24, 'nationality': 'Indian'}

In [535]:
type(user_info)

dict

In [536]:
user_info['name']

'Pooja'

In [537]:
user_info['age']

24

In [538]:
user_info['nationality']

'Indian'

In [539]:
user_info['hobby']

KeyError: 'hobby'

In [540]:
user_info.get('name')

'Pooja'

In [541]:
user_info.get('hobby')

In [542]:
# Add/ Modify data in dictionary

In [543]:
user_info['hobby'] = ['singing', 'dancing', 'coding', 'cooking']

In [544]:
user_info

{'name': 'Pooja',
 'age': 24,
 'nationality': 'Indian',
 'hobby': ['singing', 'dancing', 'coding', 'cooking']}

In [545]:
user_info['salary'] = 60000

In [546]:
user_info

{'name': 'Pooja',
 'age': 24,
 'nationality': 'Indian',
 'hobby': ['singing', 'dancing', 'coding', 'cooking'],
 'salary': 60000}

In [547]:
{'name': 'Pooja',
 'age': 24,
 'nationality': 'Indian',
 'hobby': ['singing', 'dancing', 'coding', 'cooking'],
 'salary': 60000}

{'name': 'Pooja',
 'age': 24,
 'nationality': 'Indian',
 'hobby': ['singing', 'dancing', 'coding', 'cooking'],
 'salary': 60000}

In [548]:
user_info['department'] = "sales"

In [549]:
user_info

{'name': 'Pooja',
 'age': 24,
 'nationality': 'Indian',
 'hobby': ['singing', 'dancing', 'coding', 'cooking'],
 'salary': 60000,
 'department': 'sales'}

In [550]:
user_info['name'] = "sajal"

In [551]:
user_info

{'name': 'sajal',
 'age': 24,
 'nationality': 'Indian',
 'hobby': ['singing', 'dancing', 'coding', 'cooking'],
 'salary': 60000,
 'department': 'sales'}

In [552]:
user_info['hobby'] = user_info['hobby'].pop()

In [553]:
user_info

{'name': 'sajal',
 'age': 24,
 'nationality': 'Indian',
 'hobby': 'cooking',
 'salary': 60000,
 'department': 'sales'}

In [554]:
user_info['hobby']

'cooking'

In [555]:
user_info['hobby'] = user_info['hobby'][:-1]

In [556]:
user_info

{'name': 'sajal',
 'age': 24,
 'nationality': 'Indian',
 'hobby': 'cookin',
 'salary': 60000,
 'department': 'sales'}

In [557]:
# dictionary functions

In [558]:
user_info

{'name': 'sajal',
 'age': 24,
 'nationality': 'Indian',
 'hobby': 'cookin',
 'salary': 60000,
 'department': 'sales'}

In [560]:
user_info.keys()

dict_keys(['name', 'age', 'nationality', 'hobby', 'salary', 'department'])

In [561]:
user_info.values()

dict_values(['sajal', 24, 'Indian', 'cookin', 60000, 'sales'])

In [563]:
list(user_info.items())

[('name', 'sajal'),
 ('age', 24),
 ('nationality', 'Indian'),
 ('hobby', 'cookin'),
 ('salary', 60000),
 ('department', 'sales')]

In [564]:
user_info

{'name': 'sajal',
 'age': 24,
 'nationality': 'Indian',
 'hobby': 'cookin',
 'salary': 60000,
 'department': 'sales'}

In [565]:
for i in user_info:
    print(i)

name
age
nationality
hobby
salary
department

In [567]:
for i in user_info.keys():
    print(i)

name
age
nationality
hobby
salary
department

In [568]:
for i in user_info.values():
    print(i)

sajal
24
Indian
cookin
60000
sales

In [569]:
user_info

{'name': 'sajal',
 'age': 24,
 'nationality': 'Indian',
 'hobby': 'cookin',
 'salary': 60000,
 'department': 'sales'}

In [570]:
for i in user_info.items():
    print(i)

('name', 'sajal')
('age', 24)
('nationality', 'Indian')
('hobby', 'cookin')
('salary', 60000)
('department', 'sales')

In [571]:
for k,v in user_info.items():
    print(k, ":", v)

name : sajal
age : 24
nationality : Indian
hobby : cookin
salary : 60000
department : sales

In [572]:
for k,v in user_info.items():
    print(k)

name
age
nationality
hobby
salary
department

In [573]:
for k,v in user_info.items():
    print(user_info[k])

sajal
24
Indian
cookin
60000
sales

In [574]:
for k,v in user_info.items():
    print(k, "=", v)

name = sajal
age = 24
nationality = Indian
hobby = cookin
salary = 60000
department = sales

In [575]:
# nested Dictionary :

In [576]:
canten_menu = {
    'samosa' : 30,
    'pizza' : 120,
    'burger' : 50,
    "fruits" : {
        'apple' : 150,
        'banana' : 60,
        'grapes' : 200,
        
    },
    "Momos" : {
        "veg" : {
            'paneer_momo' : 200,
            'tanori_momo' : 250,
            'malai_momo' : {
                'paneer_mali' : 450,
                'kurkure_momo' : 500
            }
        },
        "non-veg" : {
            "chicken" : {
                "malai_chicken" : 600,
                "chicken_boneless" : 800,
                'keema_chicken' : 1000,
                "muton" : {
                    "muton_chaap_momo" : 300,
                    "muton_malai_momo" : 500
                }
            }
        }
    }
}

In [577]:
canten_menu

{'samosa': 30,
 'pizza': 120,
 'burger': 50,
 'fruits': {'apple': 150, 'banana': 60, 'grapes': 200},
 'Momos': {'veg': {'paneer_momo': 200,
   'tanori_momo': 250,
   'malai_momo': {'paneer_mali': 450, 'kurkure_momo': 500}},
  'non-veg': {'chicken': {'malai_chicken': 600,
    'chicken_boneless': 800,
    'keema_chicken': 1000,
    'muton': {'muton_chaap_momo': 300, 'muton_malai_momo': 500}}}}}

# Function in Python : 
if we are using function :
*  functions provides us reusability of code , it avaids repeation
* With the help of functions we can write modular coding

# Types of functions
* Inbuilt function
* User Defined function

In [578]:
# User Defined function (UDF)

# syntax : 

# def func_name(params):
#     """Doc string"""
#     logic
#     logic
#     print
#     print
#     return

In [579]:
def greet(name):
    print("Hello good evening", name)

In [580]:
# calling/invoking a function

In [581]:
print(10)

10

In [582]:
range(10)

range(0, 10)

In [583]:
k = "hello"

In [584]:
len(k)

5

In [585]:
greet("pooja")

Hello good evening pooja

In [586]:
greet("rajesh")

Hello good evening rajesh

In [587]:
greet("sam")

Hello good evening sam

In [588]:
greet("nidhi")

Hello good evening nidhi

In [589]:
type(greet)

function

In [593]:
def greet(name):
    """This function will be greeting you """
    print("Hello good evening", name)

In [595]:
greet("prateek")

Hello good evening prateek

In [596]:
h = greet("rani")

Hello good evening rani

In [598]:
h

In [599]:
# print vs return

In [600]:
def add(w):
    """It will add one number"""
    e = w + 1
    return e

In [601]:
type(add)

function

In [602]:
add(100)

101

In [603]:
add(150)

151

In [604]:
def sub(q):
    return q-1

In [605]:
p = sub(45)

In [606]:
p

44

In [607]:
p

44

In [608]:
def circle_area(radius):
    """
    It will be calculating area of a circle
    """
    area = 3.14 * radius * radius
    return area

In [609]:
circle_area(5)

78.5

In [610]:
circle_area(9)

254.34

In [611]:
circle_area(10)

314.0

In [612]:
lst = [4,5,6,7,8,9]

In [613]:
result = 1
for i in lst:
    result*=i

In [614]:
result

60480

In [615]:
def product(d):
    """
    d : it is a list
    result : product of all elements of a list
    """
    res = 1
    for i in d:
        res*=i
    return res

In [616]:
type(product)

function

In [617]:
p = [10,14,12]

In [618]:
product(p)

1680

In [620]:
g = [56,2,3]

In [621]:
product(g)

336

In [622]:
def calcultor(a,b):
    """
    It will be performing some basic arithmentic operations
    """
    p = a+b
    q = a-b
    r = a*b
    s = a/b
    return p, q, r, s

In [623]:
calcultor(5,2)

(7, 3, 10, 2.5)

In [624]:
def calcultor(a,b):
    """
    It will be performing some basic arithmentic operations
    """
    p = a+b
    q = a-b
    r = a*b
    s = a/b
    return [p, q, r, s]

In [625]:
calcultor(10,8)

[18, 2, 80, 1.25]

In [626]:
def calcultor(a,b):
    """
    It will be performing some basic arithmentic operations
    """
    p = a+b
    q = a-b
    r = a*b
    s = a/b
    return {p, q, r, s}

In [627]:
calcultor(6,2)

{3.0, 4, 8, 12}

In [628]:
def pass_word_check(password):
    has_upper = any(i.isupper() for i in password)
    has_lower = any(i.islower() for i in password)
    has_digit = any(i.isdigit() for i in password)
    has_special = any(i in "!@#$%^&*" for i in password)

    if has_upper and has_lower and has_digit and has_special:
        print("Congratulation your password is strong")
    else:
        print("Please set a strong password")

In [629]:
k = input("Please enter a correct password:")

In [630]:
pass_word_check(k)

Please set a strong password

In [631]:
def pass_word_check():
    """It will be checking validity of password """
    password = input("Please enter a correct password:")
    has_upper = any(i.isupper() for i in password)
    has_lower = any(i.islower() for i in password)
    has_digit = any(i.isdigit() for i in password)
    has_special = any(i in "!@#$%^&*" for i in password)

    if has_upper and has_lower and has_digit and has_special:
        return "Strong"
    else:
        return "Weak"

In [633]:
pass_word_check()

'Weak'

In [634]:
def simple_interset(p, r, t):
    r = (p * r * t)/100
    return r

In [635]:
simple_interset(1000, 5,2)

100.0

In [636]:
simple_interset(2000, 10,5)

1000.0

In [637]:
def simple_interset():
    principle = float(input("Enter the principal amount:"))
    rate = int(input("what is your rate:"))
    time = int(input("Enter time period:"))
    total  = (principle * rate * time)
    return f"You have to pay a total interst of {total/100}"

In [639]:
simple_interset()

'You have to pay a total interst of 7500.0'

In [640]:
y = [10,12,13,14,15]

In [641]:
y

[10, 12, 13, 14, 15]

In [642]:
res = 1
for i in y:
    res*=i

In [643]:
res

327600

In [644]:
def product(k):
    """It will be calculating product of all elements """
    res = 1
    for i in k:
        res*=i
    return res

In [645]:
product(y)

327600

In [646]:
#Homework - Reverse the dictionary

In [647]:
f = {'a':1,'b':2,'c':3,'d':4}

In [648]:
f

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [649]:
b = {}
for k,v in f.items():
    b[v] = k

In [650]:
b

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [651]:
lst = [8,9,10,12,4,5,6]

In [652]:
def largest_elem(p):
    """
    p : list
    result : it will be claculating largest element
    """

    if len(p) == 0:
        return "list is empty"
        
    largest = p[0]
    
    for i in p:
        if i>largest:
            largest = i
    return largest

In [653]:
lst = [8,9,10,12,4,5,6]

In [654]:
y = [10,15,18,19,25]

In [655]:
largest_elem(lst)

12

In [656]:
largest_elem(y)

25

In [657]:
# LCM

In [658]:
def LCM_check(a,b):
    max_num = a if a>b else b

    while True:
        if (max_num%a==0) and (max_num%b==0):
            return max_num
        else:
            max_num+=1

In [659]:
LCM_check(3,5)

15

In [660]:
LCM_check(2,3)

6

In [661]:
# Lambda functions : unknown functions

In [662]:
(lambda a,b : a+b)(2,3)

5

In [663]:
add = lambda a,b : a+b

In [664]:
add(9,1)

10

In [665]:
add(6,5)

11

In [666]:
(lambda x,y : x*y)(6,3)

18

In [667]:
h = [("Prateek", 5), ("Mohit", 2), ("Abhi", 1), ("Zoom", 6), ("Pooja" , 4), ("Sejal", 3)]

In [668]:
def sorting(g):
    return g[1]

In [669]:
h.sort(reverse=True)

In [670]:
h

[('Zoom', 6),
 ('Sejal', 3),
 ('Prateek', 5),
 ('Pooja', 4),
 ('Mohit', 2),
 ('Abhi', 1)]

In [671]:
h.sort(key=sorting )

In [672]:
h

[('Abhi', 1),
 ('Mohit', 2),
 ('Sejal', 3),
 ('Pooja', 4),
 ('Prateek', 5),
 ('Zoom', 6)]

In [673]:
sorted(h, key=lambda d:d[1])

[('Abhi', 1),
 ('Mohit', 2),
 ('Sejal', 3),
 ('Pooja', 4),
 ('Prateek', 5),
 ('Zoom', 6)]

In [674]:
h = [("Prateek", 5), ("Mohit", 2), ("Abhi", 1), ("Zoom", 6), ("Pooja" , 4), ("Sejal", 3)]

In [675]:
h.sort(key= lambda s:s[1])

In [676]:
h

[('Abhi', 1),
 ('Mohit', 2),
 ('Sejal', 3),
 ('Pooja', 4),
 ('Prateek', 5),
 ('Zoom', 6)]

In [677]:
# Global Variable vs local variable :

# global scope : 
# local scope

In [678]:
y = 20
def test():
    s = 10
    print(s)
    print(y)

In [679]:
print(y)

20

In [680]:
print(s)

(4, 5, 6)

In [681]:
s = 30
def test():
    global s
    s = 10
    print(s)

In [682]:
print(s)

30

In [683]:
test()

10

In [684]:
print(s)

10

In [685]:
name = "pooja"

def test2():
    global name
    name = "sejal"
    print(name)

In [686]:
print(name)

pooja

In [687]:
test2()

sejal

In [688]:
print(name)

sejal

In [689]:
# Built in functions

In [690]:
# arithemic Functions

In [691]:
lst = [8,9,10,12,4,5,6]

In [692]:
max(lst)

12

In [693]:
min(lst)

4

In [694]:
sum(lst)

54

In [695]:
sorted(lst)

[4, 5, 6, 8, 9, 10, 12]

In [696]:
abs(5)

5

In [698]:
abs(-5)

5

In [699]:
round(78.123654879636)

78

In [700]:
round(78.723654879636)

79

In [701]:
round(78.723654879636, ndigits=3 )

78.724

In [702]:
round(78.723654879636, ndigits=2 )

78.72

In [703]:
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [704]:
dir("python")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [705]:
#enumerate()

In [706]:
j = ['html', 'css', 'c++', 'python', 'java']

In [707]:
for idx,i in enumerate(j, start=50):
    print(idx, i)

50 html
51 css
52 c++
53 python
54 java

In [708]:
# all - it checks False
# any - It checks True

In [709]:
u = [1,2,3]

In [710]:
all(u)

True

In [711]:
p = [1,2,3,0]

In [712]:
all(p)

False

In [713]:
a = [1,2,3]

In [714]:
any(a)

True

In [715]:
w = [1,2,3,0]

In [716]:
any(w)

True

In [718]:
j = [1, 2, -1]

In [719]:
all(j)

True

In [720]:
any(j)

True

In [721]:
f = [1, 2, -1, 0]

In [722]:
all(f)

False

In [723]:
k = []

In [724]:
all(k)

True

In [725]:
any(k)

False

In [726]:
subj = ['html', 'css', 'python', 'javascript', 'c++']

In [727]:
marks= [98, 40, 99, 45, 56]

In [728]:
list(zip(subj, marks))

[('html', 98), ('css', 40), ('python', 99), ('javascript', 45), ('c++', 56)]

In [729]:
# map, reduce, and filter

In [730]:
# map

In [731]:
num = [98, 40, 99, 45, 56]

In [732]:
k = []
for i in num:
    k.append(i+1)

In [733]:
k

[99, 41, 100, 46, 57]

In [734]:
def add_one(a):
    return a+1

In [735]:
add_one(100)

101

In [736]:
list(map(add_one, num))

[99, 41, 100, 46, 57]

In [737]:
list(map(lambda s : s+1, num))

[99, 41, 100, 46, 57]

In [738]:
# filter

In [739]:
num = [98, 40, 99, 45, 56, 78, 45, 16, 10, 13, 15]

In [740]:
k = []
for i in num:
    if i%2==0:
        k.append(i)

In [741]:
k

[98, 40, 56, 78, 16, 10]

In [742]:
def even_check(p):
    return p%2==0

In [743]:
even_check(13)

False

In [744]:
list(filter(even_check,num))

[98, 40, 56, 78, 16, 10]

In [745]:
tuple(filter(even_check,num))

(98, 40, 56, 78, 16, 10)

In [746]:
list(filter(lambda d : d%2==0, num))

[98, 40, 56, 78, 16, 10]

In [747]:
j = [1,2,3,4,5,6,7,8,9]

In [748]:
def product(lst):
    resu = 1
    for i in lst:
        resu*=i
    return resu

In [749]:
product(j)

362880

In [750]:
import functools

In [751]:
functools.reduce(lambda x,y:x*y, j)

362880

Modules : 
* Built in modules
* Custom modules

In [752]:
# Built in modules : os, maths, sys, datetime

In [753]:
import math

In [754]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [755]:
math.pi

3.141592653589793

In [756]:
math.pow(2,3)

8.0

In [757]:
math.pow(5,2)

25.0

In [758]:
math.factorial(5)

120

In [759]:
math.factorial(9)

362880

In [760]:
12/9

1.3333333333333333

In [761]:
12//9

1

In [762]:
round(5.4896541326)

5

In [763]:
math.ceil(5.4896541326)

6

In [764]:
math.ceil(3.1)

4

In [765]:
math.ceil(6.8)

7

In [766]:
math.sin(10)

-0.5440211108893698

In [767]:
math.cos(2)

-0.4161468365471424

In [768]:
math.log(5)

1.6094379124341003

In [769]:
import random

In [770]:
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_fabs', '_floor', '_index', '_inst', '_isfinite', '_lgamma', '_log', '_log2', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'binomialvariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [771]:
random.randint(10,100)

55

In [772]:
random.random()

0.39751085595867086

In [773]:
import os

In [774]:
print(dir(os))

['DirEntry', 'EX_OK', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_walk_symlinks_as_files', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_blocking', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'listdrives', 'listmounts', 'listvolumes', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_blocking', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']

In [775]:
os.getcwd()

'c:\\Users\\Satve\\OneDrive\\Desktop\\python_practice'

In [776]:
os.mkdir("winter")

In [778]:
import sys

In [779]:
print(dir(sys))

['__breakpointhook__', '__displayhook__', '__doc__', '__excepthook__', '__interactivehook__', '__loader__', '__name__', '__package__', '__spec__', '__stderr__', '__stdin__', '__stdout__', '__unraisablehook__', '_base_executable', '_clear_type_cache', '_current_exceptions', '_current_frames', '_debugmallocstats', '_enablelegacywindowsfsencoding', '_framework', '_getframe', '_getframemodulename', '_git', '_home', '_setprofileallthreads', '_settraceallthreads', '_stdlib_dir', '_vpath', '_xoptions', 'activate_stack_trampoline', 'addaudithook', 'api_version', 'argv', 'audit', 'base_exec_prefix', 'base_prefix', 'breakpointhook', 'builtin_module_names', 'byteorder', 'call_tracing', 'copyright', 'deactivate_stack_trampoline', 'displayhook', 'dllhandle', 'dont_write_bytecode', 'exc_info', 'excepthook', 'exception', 'exec_prefix', 'executable', 'exit', 'flags', 'float_info', 'float_repr_style', 'get_asyncgen_hooks', 'get_coroutine_origin_tracking_depth', 'get_int_max_str_digits', 'getallocatedblocks', 'getdefaultencoding', 'getfilesystemencodeerrors', 'getfilesystemencoding', 'getprofile', 'getrecursionlimit', 'getrefcount', 'getsizeof', 'getswitchinterval', 'gettrace', 'getunicodeinternedsize', 'getwindowsversion', 'hash_info', 'hexversion', 'implementation', 'int_info', 'intern', 'is_finalizing', 'is_stack_trampoline_active', 'last_traceback', 'last_type', 'last_value', 'maxsize', 'maxunicode', 'meta_path', 'modules', 'monitoring', 'orig_argv', 'path', 'path_hooks', 'path_importer_cache', 'platform', 'platlibdir', 'prefix', 'ps1', 'ps2', 'ps3', 'pycache_prefix', 'set_asyncgen_hooks', 'set_coroutine_origin_tracking_depth', 'set_int_max_str_digits', 'setprofile', 'setrecursionlimit', 'setswitchinterval', 'settrace', 'stderr', 'stdin', 'stdlib_module_names', 'stdout', 'thread_info', 'unraisablehook', 'version', 'version_info', 'warnoptions', 'winver']

In [780]:
sys.version

'3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]'

In [781]:
sys.path

['c:\\Users\\Satve\\OneDrive\\Desktop\\python_practice',
 'c:\\Users\\Satve\\anaconda3\\python312.zip',
 'c:\\Users\\Satve\\anaconda3\\DLLs',
 'c:\\Users\\Satve\\anaconda3\\Lib',
 'c:\\Users\\Satve\\anaconda3',
 '',
 'c:\\Users\\Satve\\anaconda3\\Lib\\site-packages',
 'c:\\Users\\Satve\\anaconda3\\Lib\\site-packages\\win32',
 'c:\\Users\\Satve\\anaconda3\\Lib\\site-packages\\win32\\lib',
 'c:\\Users\\Satve\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [782]:
import datetime

In [783]:
datetime.datetime.now()

datetime.datetime(2025, 1, 19, 14, 30, 56, 739933)

In [784]:
from math import factorial

In [786]:
factorial(5)

120

In [788]:
from math import ceil

In [789]:
ceil(5.963)

6

In [790]:
# Custom modules

In [791]:
def api_check():
    print("I am checkin api")

def second_api():
    print("i am checking second api")

In [792]:
def feedback_check():
    print("I am feedback")

def feed_new():
    print("this is feed new")

In [793]:
def login_check():
    print("this is login check")

def final_login():
    print("this is final login")

In [794]:
# File handling and exception handling

# File handling : 

operations same:
* Open a file
* read or write operation
* close a file

In [795]:
# opening a file

In [796]:
f = open("sales12.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'sales12.txt'

In [797]:
f

[1, 2, -1, 0]

In [798]:
f.closed

AttributeError: 'list' object has no attribute 'closed'

In [799]:
f.close()

AttributeError: 'list' object has no attribute 'close'

In [800]:
f.closed

AttributeError: 'list' object has no attribute 'closed'

# modes of file : 
* r - read
* w - writing
* a - append

In [801]:
f = open("accounts12", mode="w")

In [802]:
f.closed

False

In [803]:
f.close()

In [804]:
f = open("accounts12")

In [805]:
f

In [806]:
f.close()

In [807]:
# context manager : it generally deallocate the resourses
# freeup

In [811]:
with open("sales12.txt") as f:
    print("Inside:" ,f.closed)
print("Outside:", f.closed)

FileNotFoundError: [Errno 2] No such file or directory: 'sales12.txt'

In [812]:
# Wraiting to a file
# write : it generally returns the number of words/characters

In [813]:
with open("profit12.txt", mode="w") as f:
    r1 = f.write("This file has been generated by python .\n")
    r2 = f.write("I am learning file handling")
    print(r1, r2)

41 27

In [814]:
with open("profit12.txt") as f:
    data = f.read()
    print(data)

This file has been generated by python .
I am learning file handling

In [815]:
with open("profit12.txt", mode= "a") as f:
    h = f.write("\n We are appending some text thank you. \n")
    k = f.write("I love python programming. \n")
    print(h, k)

41 28

In [816]:
with open("profit12.txt") as f:
    print(f.read())

This file has been generated by python .
I am learning file handling
 We are appending some text thank you.
I love python programming.

In [817]:
# raeding content line by line

In [818]:
with open("profit12.txt") as f:
    print(f.read(5))

    print(f.read(10))

    print(f.read(10))

    print(f.read(12))

This
file has b
een genera
ted by pytho

In [819]:
# tell and seek

In [820]:
with open("profit12.txt") as f:
    print(f.read(5))

    print(f.read(10))

    print(f.read(10))

    print(f.read(12))

    print(f.tell())

    print(f.read(5))
    print(f.tell())

    f.seek(10)

    print(f.tell())

    print(f.read(15))

    print(f.tell())

This
file has b
een genera
ted by pytho
37
n .
I
43
10
has been genera
25

In [821]:
with open("profit12.txt") as f:
    data = f.read()
    print(data)

This file has been generated by python .
I am learning file handling
 We are appending some text thank you.
I love python programming.

In [822]:
with open("profit12.txt") as f:
    for i in f:
        print(i)

This file has been generated by python .

I am learning file handling

 We are appending some text thank you.

I love python programming.

In [823]:
with open("profit12.txt") as f:
    data = f.read()
    print(data)

This file has been generated by python .
I am learning file handling
 We are appending some text thank you.
I love python programming.

In [824]:
data

'This file has been generated by python .\nI am learning file handling\n We are appending some text thank you. \nI love python programming. \n'

In [825]:
for i in data:
    print(i)

T
h
i
s

f
i
l
e

h
a
s

b
e
e
n

g
e
n
e
r
a
t
e
d

b
y

p
y
t
h
o
n

.


I

a
m

l
e
a
r
n
i
n
g

f
i
l
e

h
a
n
d
l
i
n
g



W
e

a
r
e

a
p
p
e
n
d
i
n
g

s
o
m
e

t
e
x
t

t
h
a
n
k

y
o
u
.



I

l
o
v
e

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g
.

In [826]:
with open("profit12.txt") as f:
    lines = f.readlines()
    print(lines)

['This file has been generated by python .\n', 'I am learning file handling\n', ' We are appending some text thank you. \n', 'I love python programming. \n']

In [827]:
lines

['This file has been generated by python .\n',
 'I am learning file handling\n',
 ' We are appending some text thank you. \n',
 'I love python programming. \n']

In [828]:
for i in lines:
    print(i)

This file has been generated by python .

I am learning file handling

 We are appending some text thank you.

I love python programming.

In [829]:
# changing the content

In [830]:
with open("profit12.txt", mode="r") as f:
    lines = f.readlines()

In [831]:
lines[1] = "We are discussing advanced concepts"

In [832]:
lines

['This file has been generated by python .\n',
 'We are discussing advanced concepts',
 ' We are appending some text thank you. \n',
 'I love python programming. \n']

In [833]:
lines

['This file has been generated by python .\n',
 'We are discussing advanced concepts',
 ' We are appending some text thank you. \n',
 'I love python programming. \n']

In [834]:
data_to_write = " ".join(lines)

In [835]:
with open("profit12.txt", mode="w") as f:
    d = f.write(data_to_write)
    print(d)

147

In [836]:
with open("profit12.txt") as f:
    data = f.read()
    print(data)

This file has been generated by python .
 We are discussing advanced concepts  We are appending some text thank you.
 I love python programming.

# Exception handling : 
* Error
* exceptions

In [837]:
p = 10

In [838]:
print(h)

41

In [839]:
if 4>5:

SyntaxError: incomplete input (3489217683.py, line 1)

In [840]:
import computer

ModuleNotFoundError: No module named 'computer'

In [841]:
"python is fun".sort()

AttributeError: 'str' object has no attribute 'sort'

In [842]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [843]:
5/0


print("100 lines of code")

ZeroDivisionError: division by zero

In [844]:
try
except
finally
else
raise

SyntaxError: expected ':' (760886998.py, line 1)

In [845]:
import sys

In [846]:
lst = [2, 5, 0, "hello", None, 6, 4, 2]

In [847]:
for i in lst:
    try:
        print("Current element :", i)
        res = 5/i
        print("Result: ", res)
    except Exception as e:
        print("Error happend:", e)
        print(sys.exc_info()[0])
    print("="*50)
        

print("100 lines of code")
print("1500 lines of code")

Current element : 2
Result:  2.5
==================================================
Current element : 5
Result:  1.0
==================================================
Current element : 0
Error happend: division by zero
<class 'ZeroDivisionError'>
==================================================
Current element : hello
Error happend: unsupported operand type(s) for /: 'int' and 'str'
<class 'TypeError'>
==================================================
Current element : None
Error happend: unsupported operand type(s) for /: 'int' and 'NoneType'
<class 'TypeError'>
==================================================
Current element : 6
Result:  0.8333333333333334
==================================================
Current element : 4
Result:  1.25
==================================================
Current element : 2
Result:  2.5
==================================================
100 lines of code
1500 lines of code

In [848]:
# catching specific errors

In [849]:
for i in lst:
    try:
        print("Current element :", i)
        res = 5/i
        print("Result: ", res)
    except ZeroDivisionError as ze:
        print("You can not divide the element by zero not allowed")
    except TypeError as te:
        print("Its a type error")
    except Exception as e:
        print("Error happend:", e)
        print(sys.exc_info()[0])
    print("="*50)
        

print("100 lines of code")
print("1500 lines of code")

Current element : 2
Result:  2.5
==================================================
Current element : 5
Result:  1.0
==================================================
Current element : 0
You can not divide the element by zero not allowed
==================================================
Current element : hello
Its a type error
==================================================
Current element : None
Its a type error
==================================================
Current element : 6
Result:  0.8333333333333334
==================================================
Current element : 4
Result:  1.25
==================================================
Current element : 2
Result:  2.5
==================================================
100 lines of code
1500 lines of code

In [850]:
# finally : databse close, api close, file.close

In [851]:
lst = [2, 5, 0, "hello", None, 6, 4, 2]

In [852]:
for i in lst:
    try:
        print("Current element :", i)
        res = 5/i
        print("Result: ", res)
    except ZeroDivisionError as ze:
        print("You can not divide the element by zero not allowed")
    except TypeError as te:
        print("Its a type error")
    except Exception as e:
        print("Error happend:", e)
        print(sys.exc_info()[0])
    finally:
        print("All done all files are closed")
    print("="*50)
    
        

print("100 lines of code")
print("1500 lines of code")

Current element : 2
Result:  2.5
All done all files are closed
==================================================
Current element : 5
Result:  1.0
All done all files are closed
==================================================
Current element : 0
You can not divide the element by zero not allowed
All done all files are closed
==================================================
Current element : hello
Its a type error
All done all files are closed
==================================================
Current element : None
Its a type error
All done all files are closed
==================================================
Current element : 6
Result:  0.8333333333333334
All done all files are closed
==================================================
Current element : 4
Result:  1.25
All done all files are closed
==================================================
Current element : 2
Result:  2.5
All done all files are closed
==================================================
100 lines of code
1500 lines of code

In [853]:
raise Exception("hello")

Exception: hello

In [854]:
raise Exception("python")

Exception: python

In [855]:
try:
    name = input("Enter your name :")
    length = len(name)
    if length<=3:
        raise Exception("The length of the name can not be less than 4 charcters")
    else:
        print("Welcome you can fill your form")
except Exception as e:
    print("Error occured :", e)
finally:
    print("You are student")

Error occured : The length of the name can not be less than 4 charcters
You are student

In [856]:
try:
    name = input("Enter your name :")
    length = len(name)
    if length<=3:
        raise Exception("The length of the name can not be less than 4 charcters")
except Exception as e:
    print("Error occured :", e)
else:
    print("Welcome you can fill your form")
finally:
    print("You are student")

Error occured : The length of the name can not be less than 4 charcters
You are student

In [857]:
help(open)

Help on function open in module _io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise OSError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getencoding() is called to get the current locale encoding.
    (For reading and writing raw bytes use binary mode and leave encoding
    unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

In [858]:
# Q : Handle the file not found error through exception handling

In [859]:
try:
    with open("abc17_12.txt" , mode= "r") as f:
        data = f.read()
except Exception as e:
    print("This is en error", e)

This is en error [Errno 2] No such file or directory: 'abc17_12.txt'

In [860]:
try:
    with open("iris27.csv" , mode= "r") as f:
        data = f.read()
        print(data)
except Exception as e:
    print("This is en error", e)

This is en error [Errno 2] No such file or directory: 'iris27.csv'

In [861]:
# Q. Write a program to count the number of lines, words, and characters in a text file.

In [862]:
try:
    with open("abc17_12.txt" , mode= "w") as f:
        r1 = f.write("we are python developers.\n")
        r2 = f.write("I am learning data analytics.\n")
        r3 = f.write("I love coding.\n")
        print(r1, r2, r3)
except Exception as e:
    print("This is en error", e)

26 30 15

In [863]:
try:
    with open("abc17_12.txt" , mode= "r") as f:
        data = f.readlines()
except Exception as e:
    print("This is en error", e)

In [864]:
data

['we are python developers.\n',
 'I am learning data analytics.\n',
 'I love coding.\n']

In [865]:
def word_line_char_count(data):
    lines = len([i for i in data])
    words = sum([len(i.split()) for i in data])
    char = sum([len(i) for i in data])
    return lines, words, char

In [866]:
word_line_char_count(data)

(3, 12, 71)

In [867]:
for i in data:
    print(i)

we are python developers.

I am learning data analytics.

I love coding.

In [868]:
len([4,5,6,7])

4

In [869]:
len("Python is fun".split())

3

In [870]:
len("Python is fun")

13

# 2. Handle ValueError in Input

Write a program that asks for an integer input. If the input is not an integer, handle the exception and prompt the user again.
Example:

Input: "abc"

Output: Invalid input. Please enter an integer.

In [871]:
while True:
    try:
        number = int(input("Enter any number: "))
        print(f"You ahve entered a correct number: {number}")
        break
    except ValueError as ve:
        print("Please try again : you have to enter interger")

Please try again : you have to enter interger
You ahve entered a correct number: 3

In [872]:

#3. IndexError Handling

# Write a program that tries to access an element from a list by index and handles the IndexError if the index is out of range.

In [873]:
lst = [7,8,9,10,12,15,4,3,7]

In [874]:
len(lst)

9

In [875]:
lst[15]

IndexError: list index out of range

In [876]:
lst = [7,8,9,10,12,15,4,3,7]

try:
    idx = int(input("enetr any index number which you would like to access"))
    print("This is element:", lst[idx])
except IndexError as ie:
    print("Index is out of range:", ie)
except Exception as e:
    print("Please read the instructions first")

This is element: 9

OOPs: 
* Object-oriented programming
*  with the hlep of oops we can build large scale softweres and applications
* We can hide our data with the help of access modifier
* C++, JACA script, Python


pops:
* Producedural Oriented programming
* we can not hide our data 
* C, FORTRAN, PASCAL

OOPs :

* Abstraction - Data abstraication is a property through which we display only the essential details to the user. we hide the implenetaion. 
ex : Like woring of a ATM, like a car
* Encapsulation : means wrapping up all the details (methods and properties) into a single unit
ex : school bag, ATM, Car
* Inheritance : when one class is inheriting certain methods and propeties from one class to another class that is known as inheritnce
ex: car, 
* Polymorphism : 
poly - many
morphism : forms
it is an ability of a message to be displayed in more than one form.
ex : like a person , speech :

* Class : real world entity or model or blueprint or Human
* Object : example , instance

In [878]:
class Bank:
    pass

In [879]:
class Human:
    pass

In [880]:
class Vehiacl:
    pass

In [881]:
type(Bank())

__main__.Bank

In [882]:
g = Human()

In [883]:
type(g)

__main__.Human

In [884]:
ravi = Human()

In [885]:
rohit = Human()

In [886]:
pooja = Human()

In [887]:
sejal = Human()

In [888]:
# constructor of a class:
#__init__ : they are magic functions. they are called automatically whenever Certain event is happened

In [889]:
# __builtins__
# __doc__
#__init__

In [890]:
class Human():
    def __init__(self):
        print("an object is created..")

In [891]:
ravi = Human()

an object is created..

In [892]:
rohit = Human()

an object is created..

In [893]:
pooja = Human()

an object is created..

In [894]:
mohit = Human()

an object is created..

In [895]:
class Bank:
    pass

In [896]:
class Vehical:
    pass

In [897]:
sbi = Bank()

In [898]:
car = Vehical()

In [899]:
class Human:
    def __init__(self,name, age ):
        print("An object is created...")

        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age

In [900]:
obj1 = Human("mohit", 23)

An object is created...

In [901]:
obj2 = Human("Prateek", 30)

An object is created...

In [902]:
obj1.age

23

In [903]:
obj1.name

'mohit'

In [904]:
obj2.name

'Prateek'

In [905]:
obj2.age

30

In [906]:
print(obj2)

<__main__.Human object at 0x000002533EAB3620>

In [907]:
type(obj2)

__main__.Human

In [908]:
print(obj1)

<__main__.Human object at 0x000002533E7B7FB0>

In [909]:
t = 45

In [910]:
print(type(t))

<class 'int'>

In [911]:
j = 45

In [912]:
r = 78

In [913]:
class Human:
    def __init__(self,name, age ):
        print("An object is created...")
        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age

        #instance methods
    def introduce(self):
        print(f"Hi My name is {self.name} and i am {self.age} years old")
    def eating(self):
        print(f"HI my name is {self.name} and i eat to live")

In [914]:
obj1 = Human("Mohit", 26)

An object is created...

In [915]:
obj2 = Human("Prateek", 30)

An object is created...

In [916]:
obj1.name

'Mohit'

In [917]:
obj1.introduce()

Hi My name is Mohit and i am 26 years old

In [918]:
obj2.eating()

HI my name is Prateek and i eat to live

In [919]:
class Human:
    def __init__(self,name, age ):
        print("An object is created...")
        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age

        #instance methods
    def introduce(self):
        print(f"Hi My name is {self.name} and i am {self.age} years old")
    def eating(self):
        print(f"HI my name is {self.name} and i eat to live")

In [920]:
    # class Variable :

In [921]:
class Human:
    database = []
    population = 0
    id_seq = 101
    def __init__(self,name, age ):
        print("An object is created...")
        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age

        #instance methods
    def introduce(self):
        print(f"Hi My name is {self.name} and i am {self.age} years old")
    def eating(self):
        print(f"HI my name is {self.name} and i eat to live")

In [922]:
# class Variable : these are applicable to all objects

In [923]:
class Human:
    databse = []
    population = 0
    id_seq = 101
    
    def __init__(self,name, age, is_alive = True):
        print("An object is created...")
        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age
        self.is_alive = is_alive
        self.id = Human.id_seq
        Human.id_seq+=1
        Human.population+=1
        Human.databse.append(self)

        #instance methods
    def introduce(self):
        print(f"Hi My name is {self.name} and i am {self.age} years old")
    def eating(self):
        print(f"HI my name is {self.name} and i eat to live")

    def __repr__(self):
        """It will be representing a format """
        return f"[{self.id}, {self.name}, {self.age}, {self.is_alive}]"

In [924]:
obj1 = Human("mohit", 25)
obj2 = Human("Prateek", 35)
obj3 = Human("Sam", 20)

An object is created...
An object is created...
An object is created...

In [925]:
obj1.age

25

In [926]:
obj1.name

'mohit'

In [928]:
obj1.introduce()

Hi My name is mohit and i am 25 years old

In [929]:
obj1.is_alive

True

In [930]:
Human.population

3

In [931]:
obj2 = Human("Prateek", 35)

An object is created...

In [932]:
Human.population

4

In [933]:
obj3 = Human("Sam", 20)

An object is created...

In [934]:
Human.population

5

In [935]:
Human.databse

[[101, mohit, 25, True],
 [102, Prateek, 35, True],
 [103, Sam, 20, True],
 [104, Prateek, 35, True],
 [105, Sam, 20, True]]

In [936]:
obj1.id

101

In [937]:
obj2.id

104

In [938]:
obj3.id

105

In [939]:
Human.databse

[[101, mohit, 25, True],
 [102, Prateek, 35, True],
 [103, Sam, 20, True],
 [104, Prateek, 35, True],
 [105, Sam, 20, True]]

In [940]:
obj1

[101, mohit, 25, True]

In [941]:
obj3

[105, Sam, 20, True]

In [942]:
# magic functions :

In [943]:
# __builtins__
# __doc__
# __init__
# __repr__

In [944]:
h = [7,8,9]

In [945]:
h

[7, 8, 9]

In [946]:
type(h)

list

In [947]:
p = "123"

In [948]:
type(p)

str

In [949]:
n = (12,14,15)

In [950]:
type(n)

tuple

In [951]:
dir(h)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [952]:
# adding die functionality

In [953]:
class Human:
    databse = []
    population = 0
    id_seq = 101
    
    def __init__(self,name, age, is_alive = True):
        print("An object is created...")
        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age
        self.is_alive = is_alive
        self.id = Human.id_seq
        Human.id_seq+=1
        Human.population+=1
        Human.databse.append(self)

        #instance methods
    def introduce(self):
        print(f"Hi My name is {self.name} and i am {self.age} years old")
    def eating(self):
        print(f"HI my name is {self.name} and i eat to live")

    def __repr__(self):
        """It will be representing a format """
        return f"[{self.id}, {self.name}, {self.age}, {self.is_alive}]"

    def die(self):
        if self.is_alive:
            print(f"{self.name} is dying.....")
            self.is_alive = False
            Human.population-=1
        else:  
            print(f"{self.name} is already dead..")

In [954]:
obj1 = Human("mohit", 25)
obj2 = Human("Prateek", 35)
obj3 = Human("Sam", 20)

An object is created...
An object is created...
An object is created...

In [955]:
Human.population

3

In [956]:
Human.databse

[[101, mohit, 25, True], [102, Prateek, 35, True], [103, Sam, 20, True]]

In [957]:
obj1.die()

mohit is dying.....

In [958]:
Human.population

2

In [959]:
obj1.die()

mohit is already dead..

In [960]:
Human.population

2

# inheritance : whenever we are taking some properties and methods from one class to another:

* Sigle level inheritance
* Multi level inheritance
* Multiple inheritance

In [961]:
class Human:
    databse = []
    population = 0
    id_seq = 101
    
    def __init__(self,name, age, is_alive = True):
        print("An object is created...")
        # Instance variables
        # attraibute references 
        self.name = name
        self.age = age
        self.is_alive = is_alive
        self.id = Human.id_seq
        Human.id_seq+=1
        Human.population+=1
        Human.databse.append(self)

        #instance methods
    def introduce(self):
        print(f"Hi My name is {self.name} and i am {self.age} years old")
    def eating(self):
        print(f"HI my name is {self.name} and i eat to live")

    def __repr__(self):
        """It will be representing a format """
        return f"[{self.id}, {self.name}, {self.age}, {self.is_alive}]"

    def die(self):
        if self.is_alive:
            print(f"{self.name} is dying.....")
            self.is_alive = False
            Human.population-=1
        else:  
            print(f"{self.name} is already dead..")

In [962]:
# Sigle level inheritance:

In [963]:
class Hitman(Human):
    def __init__(self, name, age):
        super().__init__(name, age)

        self.kills = 0
        self.kill_list = []


    # function overridding
    def introduce(self):
        print(f"Hi My name is {self.name} and i have  killed {self.kills} persons")

In [964]:
obj1 = Human("mohit", 25)
obj2 = Human("Prateek", 35)
obj3 = Human("Sam", 20)

An object is created...
An object is created...
An object is created...

In [965]:
bond = Hitman("james", 45)

An object is created...

In [966]:
obj1.introduce()

Hi My name is mohit and i am 25 years old

In [967]:
bond.introduce()

Hi My name is james and i have  killed 0 persons

In [968]:
bond.kill_list

[]

In [969]:
bond.kills

0

In [970]:
class A:
    def explore(self):
        print("I am exlporing in class A")

In [971]:
class B:
    def discover(self):
        print("I am discoverimng in class B")

    def search(self):
        print("I am searcghing in class B")

In [972]:
class C:
    def discover(self):
        print("i am discovering in class C")

    def Optimise(self):
        print("I am optimizing in class C")

In [973]:
class D:
    def making(self):
        print("I am making something inn class D")

    def Optimise(self):
        print(" I am optimizing in class D")

In [974]:
#Multi level inheritance

In [975]:
class A:
    def explore(self):
        print("I am exlporing in class A")

In [976]:
class B(A):
    def discover(self):
        print("I am discoverimng in class B")

    def search(self):
        print("I am searcghing in class B")

In [977]:
class C(B):
    def discover(self):
        print("i am discovering in class C")

    def Optimise(self):
        print("I am optimizing in class C")

In [978]:
class D(C):
    def making(self):
        print("I am making something inn class D")

    def Optimise(self):
        print(" I am optimizing in class D")

In [979]:
a = A()
b = B()
c = C()
d = D()

In [980]:
a.explore()

I am exlporing in class A

In [981]:
b.explore()

I am exlporing in class A

In [982]:
b.search()

I am searcghing in class B

In [983]:
c.discover()

i am discovering in class C

In [984]:
c.search()

I am searcghing in class B

In [985]:
c.Optimise()

I am optimizing in class C

In [986]:
d.Optimise()

 I am optimizing in class D

In [987]:
d.explore()

I am exlporing in class A

In [988]:
# Multiple inheritance

In [989]:
class A:
    def explore(self):
        print("I am exlporing in class A")

In [990]:
class B():
    def discover(self):
        print("I am discoverimng in class B")

    def search(self):
        print("I am searcghing in class B")

In [991]:
class C():
    def discover(self):
        print("i am discovering in class C")

    def Optimise(self):
        print("I am optimizing in class C")

In [992]:
class D(A,C,B):
    def making(self):
        print("I am making something inn class D")

    def Optimise(self):
        print(" I am optimizing in class D")

In [993]:
a = A()
b = B()
c = C()
d = D()

In [994]:
d.explore()

I am exlporing in class A

In [995]:
d.Optimise()

 I am optimizing in class D

In [996]:
d.discover()

i am discovering in class C

In [997]:
# Q write a python function in whcih take the user input such as name in small letters,
#remove the spaces and your function should return output like this @POOJASHARMA11.

In [15]:

def test():
    name = input("Enter your name:")
    name = name.replace(" ", "").upper()
    print("@" + name + str(len(name)))
    return "@" + name + str(len(name))
name = test()

@SAYVERDFJSD11